* {
    margin: 0px;
    padding: 0px;
    max-height: 100%;
}

.headerBackground {
    background-color: #1F2937;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px 10px 80px;
}

.headerLeft {
    font-size: 24px;
    color: #F9FAF8;
}

.headerRight {
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.aboutBackground {
    background-color: #1F2937;
}

.aboutContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 70px 80px 70px 80px;
}

.aboutLeft {
   max-width: 40%;
}

.aboutRight {
    max-width: 40%;
}

.aboutMainText {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding-bottom: 10px;
}

.aboutSecondaryText {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}

.aboutButton {
    background-color: #3882F6;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
}

.infoBackground {

}

.infoContainer {
    padding: 20px 80px 70px 80px;
}

.infoHeadline {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    padding-bottom: 30px;
}

.infoContainer2 {
    display: flex;
    justify-content: space-evenly;
}





