* {
    margin: 0px;
    padding: 0px;
    max-height: 100%;
}

.headerBackground {
    background-color: #1F2937;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.headerLeft {
    font-size: 24px;
    color: #F9FAF8;
}

.headerRight {
    font-size: 18px;
    display: flex;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.aboutBackground {
    background-color: #1F2937;
}

.aboutContainer {
    display: flex;
    justify-content: space-between;
    padding: 70px 100px;
}

.aboutLeft {
   max-width: 40%;
}

.aboutRight {
    
}

.aboutImage {
    width: 450px;
    height: 220px;
    border: 1px solid white;
    max-width: 100%;
}

.aboutMainText {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding-bottom: 10px;
}

.aboutSecondaryText {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}

.aboutButton {
    background-color: #3882F6;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
}

.infoBackground {

}

.infoContainer {
    padding: 40px 100px 70px 100px;
}

.infoHeadline {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    padding-bottom: 40px;
}

.infoContainer2 {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.infoContainer3 {
    text-align: center;
}

.infoImage {
    width: 50px;
    height: auto;
    border: 8px solid #E5E7EB;
    max-width: 100%;

}

.quoteBackground {
    background-color: #E5E7EB;
}

.quoteContainer {
    padding: 70px 150px;
}

.quoteText1 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quoteText2 {
    text-align: end;
    font-size: 24px;
    font-weight: bolder;
    padding-top: 10px;
}

.actionBackground {

}

.actionContainer {
    padding: 70px 70px;
    background-color: #3882F6;
    margin: 60px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actionLeft {
    color: white;
}

.actionRight {
    
}

.actionButton {
    background-color: transparent;
    color: white;
    padding: 8px 20px;
    border: 2px solid;
    border-radius: 10px;
}

.footerBackground {
    background-color: #1F2937;
}

.footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 80px;
    color: white;
}
 